<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._3DLAB"
        tools:targetApi="31">
        <activity
            android:name="Impresiones.EditarImpresiones.EditarImpresionMain"
            android:exported="false" />
        <activity
            android:name="DashBoard.layout_pagina_principal"
            android:exported="false">
        </activity>
        <activity
            android:name="Impresiones.AnadirImpresiones.AnadirImpresionesMain"
            android:exported="false">
        </activity>
        <activity
            android:name="Filamentos.EditarFilamentos.AñadirFilamentosMain"
            android:exported="false">
        </activity>
        <activity
            android:name="Impresiones.ImpresionesMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="Filamentos.FilamentosMain"
            android:exported="false" />
        <activity
            android:name="Notificaciones.Notificaciones_main"
            android:exported="false">
        </activity>
        <activity
            android:name="Dashboard.dashboard_main"
            android:exported="false">
        </activity>
    </application>
</manifest>